<body onload="refresh()">
  <h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

  Add todo
  <form method="POST" action="/api/todo">
  	<input name="item">
  	<input type="submit">
  </form>

  <input id="xml-item">
  <button onclick="handleSubmit()">Submit</button>

  <ul id="items"></ul>

  <script>
    function xhr(method, url, body, handler) {
      var req = new XMLHttpRequest();
      req.open(method, url);
	  if (method === "POST") {
        req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	  }
      req.onreadystatechange = function() {
        if (req.readyState != XMLHttpRequest.DONE)
          return;

        handler(req.response);
      }
      req.send(body);
	}
	
    function handleSubmit() {
      var input = document.getElementById("xml-item");
	  xhr("POST", "/api/todo", "item=" + input.value, refresh);
    }

    function li(text) {
      var li = document.createElement("li");
      li.appendChild(document.createTextNode(text));
      return li;
    }

    function refresh() {
      var ul = document.getElementById("items");
      ul.innerHTML = "";

	  xhr("GET", "/api/todo", null, function(response) {
        var items = JSON.parse(response);
        items.forEach(function(item) {
          ul.appendChild(li(item));
        });
      });
    }
  </script>
</body>
